<% provide(:title, 'Help') %>
<h1>Help</h1>
    <p>
      Get help on the Boyosplace website see the
      <a href="http://boyosplace.com/faq">Frequently Asked Questions</a>.
    </p>
  </body>
</html>