<% provide(:title, 'Home') %>
<h1>Boyosplace</h1>
    <p>
      This is the home page for the
      <a href="http://boyosplace.com/">The best puppies in the world</a>
      boyosplace.
    </p>
  </body>
</html>