
<div class="center hero-unit">
  <h1>Welcome to Boyosplace</h1>

  <h2>
    This is the home page for 
      <a href="http://boyosplace.com/">the best puppies in the world</a>
      boyosplace.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Boyosplace.png", alt: "Boyosplace"), 'http://boyosplace.com/' %>
